.post{
    position: relative;
    width: 1728px;
    height: 1117px;
    
    background: #FFFFFF;
    }
    .sidebar{
    /* Rectangle 29 */
    
    /* Rectangle 29 */
    
    position: absolute;
    width: 231px;
    height: 1117px;
    left: 0px;
    top: 0px;
    
    background: #CEF3FF;
    
    }
    .logo-2{
    position: absolute;
    width: 83px;
    height: 61px;
    left: 50px;
    top: 13px;
    
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    
    /* identical to box height */
    
    color: #0884FF;
    }
    .vector{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 16.67%;
    bottom: 8.33%;
    }
    .Dashboard-1{
    position: absolute;
    width: 84px;
    height: 27px;
    left: 72px;
    top: 181px;
    
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    
    color: #181818;
    }
    .Total-contacts{
    position: absolute;
    width: 183px;
    height: 65px;
    left: 22px;
    top: 230px;
    
    background: #2DA5FC;
    border-radius: 6px;
    }
    .vector-1{
    position: absolute;
    left: 4.5%;
    right: 96.53%;
    top: 30%;
    bottom: 77.8%;
    }
    .Total-contacts-1{
    position: absolute;
    width: 108px;
    height: 27px;
    left: 40px;
    top: 15.7px;
    
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    
    color: #FFFFFF;
    
    opacity: 0.8;
    }
    .vector-2{
    position:absolute;
    width: 0px;
    height: 32px;
    left: 170px;
    top: 15.17px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    }