.pagination-container{
    position: absolute;
    width: 200px;
    height: 24px;
    left: 1200px;
    top: 700px;
    
    
}
.page-link{
position: absolute;
left: 90%;
right: 7.21%;
top: 94.92%;
bottom: 3.88%;

background: #4D4D4D;

}
.page-link-1{
position: absolute;
width: 9px;
height: 24px;
left: 90px;
top: 200px;

font-family: 'Titillium Web';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #2DA5FC;
}

.page-item{
position: absolute;
left:150%;
right: 1.72%;
top: 93.73%;
bottom: 5.08%;

background: #4D4D4D;
}